@tailwind base;
@tailwind components;
@tailwind utilities;


/* dark mode looking scrollbar */
body,input,nav{
    background-color:white;
}
.hello::-webkit-scrollbar {
    width: 10px;
}

input {
    padding-left: 8px;
}

::-webkit-scrollbar-track {
    background: rgb(159, 159, 242);
}

::-webkit-scrollbar-thumb {
    background: rgb(96, 96, 246);
    border-radius: 5px;
}

::-webkit-scrollbar-thumb:hover {
    background: #242424;
}

/* SHAKE ANIMATION ON HORIZONTAL DIRECTION */
.shake {
    animation: shake 0.82s cubic-bezier(0.36, 0.07, 0.19, 0.97) 0.2s both;
    transform: translate3d(0, 0, 0);
    backface-visibility: hidden;
    perspective: 1000px;
}

.sendMsg::placeholder {
    color: black;
    font-weight: normal;
}

@keyframes shake {

    10%,
    90% {
        transform: translate3d(-1px, 0, 0);
    }

    20%,
    80% {
        transform: translate3d(2px, 0, 0);
    }

    30%,
    50%,
    70% {
        transform: translate3d(-4px, 0, 0);
    }

    40%,
    60% {
        transform: translate3d(4px, 0, 0);
    }
}


@media (max-width: 450px) {

    .hide-sidebar {
        display: none;
    }

    .hide-msg-container,
    .hide-avatar {
        display: none;
    }

    .responsive-signout-btn {
        padding-right: 0;
    }

}
